h1 {color: rgb(205, 149, 76);
    font-family: 'Roboto', sans-serif;
    text-align: center;}

h2 {color: rgb(205, 149, 76);
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    margin-top: 50px;}

h3 {color: rgb(205, 149, 76);
    font-family: 'Roboto', sans-serif;}

p  { font-family: 'Roboto', sans-serif;
    margin: 20px;}

figure {
    display: inline-block;
    border: 2px solid burlywood;
    margin: 20px; /* adjust as needed */;
}
figure img {
    vertical-align: top;
}
figure figcaption {
    border-top: 2px solid burlywood;
    text-align: center;
}